/*VARIABLES*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sky {
  background: #62b0d2;
  height: 50vh;
  z-index: -1;
  max-width: 100%;
}

.grass {
  background: #478e50;
  height: 50vh;
  z-index: -1;
  max-width: 100%;
}

/*-----BALL SLIDE/CAT WALK------*/
.wrapper {
  position: relative;
}

.ball {
  position: relative;
  top: 20px;
  left: 20px;
  -moz-animation: catwalk 2s 1 ease-in both;
  -webkit-animation: catwalk 2s 1 ease-in both;
  animation: catwalk 2s 1 ease-in both;
}

@-moz-keyframes catwalk {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(500px);
  }
}
@-webkit-keyframes catwalk {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(500px);
  }
}
@keyframes catwalk {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(500px);
  }
}
/*-----CLOUDS------*/
.cloud {
  width: 100%;
  height: 200px;
  position: absolute;
  background: transparent url("..//img/cloud.png") 0 0 no-repeat;
}

.cloud1 {
  top: 10px;
  z-index: 100;
  -moz-animation: driftin 10s linear infinite;
  -webkit-animation: driftin 10s linear infinite;
  animation: driftin 10s linear infinite;
}

.cloud2 {
  top: 40px;
  z-index: 200;
  -moz-animation: driftin 15s linear infinite backwards;
  -webkit-animation: driftin 15s linear infinite backwards;
  animation: driftin 15s linear infinite backwards;
}

@-moz-keyframes driftin {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(1550px);
  }
}
@-webkit-keyframes driftin {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(1550px);
  }
}
@keyframes driftin {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(1550px);
  }
}
