/*VARIABLES*/
.icon-sprite, .icon-cat02, .icon-cat03, .icon-cat04, .icon-cat05, .icon-cat06, .icon-cat07, .icon-cat08, .icon-cat09, .icon-cat10, .icon-cat11, .icon-cat12, .icon-cat13, .icon-cat14, .icon-cat15 {
  background-image: url('../img/icon-s9bbd2a66ef.png');
  background-repeat: no-repeat;
}

.icon-cat02 {
  background-position: 0 0;
}

.icon-cat03 {
  background-position: 0 -409px;
}

.icon-cat04 {
  background-position: 0 -818px;
}

.icon-cat05 {
  background-position: 0 -1227px;
}

.icon-cat06 {
  background-position: 0 -1636px;
}

.icon-cat07 {
  background-position: 0 -2045px;
}

.icon-cat08 {
  background-position: 0 -2454px;
}

.icon-cat09 {
  background-position: 0 -2863px;
}

.icon-cat10 {
  background-position: 0 -3272px;
}

.icon-cat11 {
  background-position: 0 -3681px;
}

.icon-cat12 {
  background-position: 0 -4090px;
}

.icon-cat13 {
  background-position: 0 -4499px;
}

.icon-cat14 {
  background-position: 0 -4908px;
}

.icon-cat15 {
  background-position: 0 -5317px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

.sky {
  background: transparent url("..//img/sky-bkg.png") 0 0 no-repeat;
  height: 60vh;
  z-index: -10;
  max-width: 1350vh;
}

.grass {
  background: transparent url("..//img/grass-txtr.png") 0 0 no-repeat;
  height: 40vh;
  z-index: -10;
  max-width: 1350vh;
}

/*-----CLOUDS------*/
.cloud {
  width: 100%;
  height: 200px;
}

.cloud1 {
  top: 30px;
  z-index: 100;
  position: absolute;
  background: transparent url("..//img/cloud1.png") 0 0 no-repeat;
  -moz-animation: driftin 30s linear infinite;
  -webkit-animation: driftin 30s linear infinite;
  animation: driftin 30s linear infinite;
}

.cloud2 {
  margin-top: 80px;
  z-index: 200;
  transform: scale(1.2);
  background: transparent url("..//img/cloud2.png") 0 0 no-repeat;
  -moz-animation: driftin 45s linear 2s infinite backwards;
  -webkit-animation: driftin 45s linear 2s infinite backwards;
  animation: driftin 45s linear 2s infinite backwards;
}

.cloud3 {
  top: 10px;
  z-index: 50;
  background: transparent url("..//img/cloud3.png") 0 0 no-repeat;
  -moz-animation: driftin 85s linear infinite;
  -webkit-animation: driftin 85s linear infinite;
  animation: driftin 85s linear infinite;
}

@-moz-keyframes driftin {
  from {
    transform: translateX(1800px);
  }
  to {
    transform: translateX(-500px);
  }
}
@-webkit-keyframes driftin {
  from {
    transform: translateX(1800px);
  }
  to {
    transform: translateX(-500px);
  }
}
@keyframes driftin {
  from {
    transform: translateX(1800px);
  }
  to {
    transform: translateX(-500px);
  }
}
/*-----CAT WALK------*/
.spritecat {
  width: 500px;
  height: 409px;
  display: block;
  background: transparent url("..//img/icon-s9bbd2a66ef.png") 0 0 no-repeat;
  -moz-animation: trotting 2s steps(14) infinite;
  -webkit-animation: trotting 2s steps(14) infinite;
  animation: trotting 2s steps(14) infinite;
}

/*sprite animation*/
@-moz-keyframes trotting {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -5726px;
  }
}
@-webkit-keyframes trotting {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -5726px;
  }
}
@keyframes trotting {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -5726px;
  }
}
.mouse {
  width: 400px;
  height: 200px;
  top: 71vh;
  position: absolute;
  transform: translateX(1900px) scale(0.5);
  background: transparent url("..//img/mouse.gif") 0 0 no-repeat;
  -moz-animation: mouse 11s 1 linear 26s forwards;
  -webkit-animation: mouse 11s 1 linear 26s forwards;
  animation: mouse 11s 1 linear 26s forwards;
}

.moving {
  -moz-animation: catwalk 30s 1 linear forwards;
  -webkit-animation: catwalk 30s 1 linear forwards;
  animation: catwalk 30s 1 linear forwards;
}

.flipit {
  -moz-animation: flip 0.1s 15.8s both;
  -webkit-animation: flip 0.1s 15.8s both;
  animation: flip 0.1s 15.8s both;
}

@-moz-keyframes catwalk {
  0% {
    transform: translateX(-500px);
  }
  70% {
    transform: translateX(1900px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
@-webkit-keyframes catwalk {
  0% {
    transform: translateX(-500px);
  }
  70% {
    transform: translateX(1900px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
@keyframes catwalk {
  0% {
    transform: translateX(-500px);
  }
  70% {
    transform: translateX(1900px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
@-moz-keyframes mouse {
  0% {
    transform: translateX(1901px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
@-webkit-keyframes mouse {
  0% {
    transform: translateX(1901px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
@keyframes mouse {
  0% {
    transform: translateX(1901px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
@-moz-keyframes flip {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}
@-webkit-keyframes flip {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}
@keyframes flip {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}
