@import 'icon/*.png';
@include all-icon-sprites;

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow: hidden;
}

// .base {
//   	@include background-image(linear-gradient($sky-color 50%, $ground-color 50%));
//   		// http://compass-style.org/examples/compass/css3/gradient/
// 	height: 65vh; //vertical height...may need browser support...
// 	z-index: -1;
// }

.sky {
	background: $sky-color;
	height: 50vh;
	z-index: -10;
	max-width: 1350vh;
}

.grass {
	background: $ground-color;
	height: 50vh;
	z-index: -10;
	max-width: 1350vh;
}

/*-----CLOUDS------*/

.cloud {
	width: 100%;
	height: 200px;
	// position: absolute;
	background: transparent url('..//img/cloud.png') 0 0 no-repeat;
	background-size: 308px 200px;
}

.cloud1 {
	top: 10px;
	z-index: 100;
	// animation syntax shorthand: name duration timing-function delay iteration-count direction fill-mode
	@include animation(driftin 22s linear infinite)
}

.cloud2 {
	top: 40px;
	z-index: 200;
	transform: scale(1.2);
	// animation syntax shorthand: name duration timing-function delay iteration-count direction fill-mode
	@include animation(driftin 30s linear 2s infinite backwards)
}

@include keyframes(driftin) {
	from{transform: translateX(1800px);}
    to{transform: translateX(-500px);}
}


/*-----CAT WALK------*/

.spritecat {
	width: 500px;
	height: 409px;
	display: block;
	background: transparent url('..//img/icon-s9bbd2a66ef.png') 0 0 no-repeat;
	@include animation(trotting 3s steps(14) infinite);
}

/*sprite animation*/
@include keyframes(trotting) {
	0% {background-position: 0 0}
	100% {background-position: 0 -5726px}
}

.moving {
	// animation syntax shorthand: name duration timing-function delay iteration-count direction fill-mode
	@include animation(catwalk 30s 1 linear forwards);
	// @include animation(flip 2s 1 2s both);
	// @include animation(catwalk,flip 3s,.1s 1,1 linear,linear 0s,4s 1,1 both);
}

.flipit {
	// animation syntax shorthand: name duration timing-function delay iteration-count direction fill-mode
	@include animation(flip .1s  12s both);
}

// @include keyframes(catwalk) {
// 	0% {transform: translateX(-500px);}
// 	49% {transform: translateX(2000px);}
// 	50% {transform: scaleX(-1);}
// 	// 51% {transform: translateX(2000px);}
// 	100% {transform: translateX(-500px);}
// 	// 100% {transform: scaleX(-1);}
// }

@include keyframes(catwalk) {
	0% {transform: translateX(-500px);}
    40% {transform: translateX(1500px);}
    100% {transform: translateX(-2000px);}
}

@include keyframes(flip) {
	0% {transform: scaleX(1);}
	100% {transform: scaleX(-1);}
}




/********PLACEHOLDER BALL*********/
// .wrapper {
// 	// margin: auto;
// 	// width: 800px;
// 	// margin-top: 35vh;
// 	position: relative;
// }

// .ball {
// 	position: relative;
// 	top: 20px;
// 	left: 20px;

// 	// animation-name: move;
// 	// animation-duration: 1s;
// 	// animation-timing-function: linear;
// 	// animation-iteration-count: infinite;
// 	// animation syntax shorthand: name duration timing-function delay iteration-count direction fill-mode
// 	@include animation(catwalk 2s 1 ease-in both);
// }

/********PLACEHOLDER CAT*********/
// .sprite {
// 	width: 400px;
// 	height: 200px;
// 	display: block;
// 	background: transparent url('..//img/cat.png') 0 0 no-repeat;
// 	// margin: 1em auto;
// 	@include animation(walkin 2s steps(12) infinite);
// }

// @include keyframes(walkin) {
// 	0% {background-position: 0 0}
// 	100% {background-position: 0 -2400px}
// }

